body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    background: #ebd8c6;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS';
}
h1{
    padding-bottom: 15px;
}

label{
    font-weight: bold;
}

.container {
  background:#ECEEDF;
  padding: 25px 35px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 10px 10px  rgb(144, 145, 145);
  border: solid 2px black;
}

button{
    background-color: bisque;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin-top: 15px;
    padding: 8px 16px;
    cursor: pointer;
}

input{
    height: 30px;
    border-radius: 15px;
    width: 120px;
    text-align: center;
    font-weight: bolder;
    width: 90%;
    margin-top: 10px;
    padding: 12px 10px;
    font-size: 16px;
    border: 2px solid #6a6a6a;
    border-radius: 15px;
    outline: none;
}
input:focus {
  border-color: #fee81fe1;
}

#results{
    margin: 15px;
    padding: 15px;
}

#weight-guide{
    border: 2px solid black;
    border-radius: 12px;
    background: white;
}